* {
    font-family: sans-serif;
}

header{
    background-color: #484848;
    height: 300px;
    width: 100%;    
}
.h1-style{
    font-size: 3rem !important;
    text-shadow: white 0.04em 0.04em 0.04em;
}
img{
    height:100%;
    border-radius: 50%;
}
h3{
    font-weight: bold;
    font-size: 2.1rem;
    color: #484848;
    text-shadow: gray 0.08em 0.08em 0.08em;
}
h5{
    font-size: 1.5rem;
}
li{
    font-size: 1.2rem;
}

.container-secao {
    background-color: #484848;
    border-radius: 25px;
    padding: 0.5rem;
    color: #ffffff;
    text-align: center;
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.font-aboutme{
    font-size: 1.5rem;
}

.height-100 {
    height: 100%;
}

.height-80 {
    height: 80%;
}

.text-white {
    color: white
}
.margin-div{
    margin-bottom: 2rem;
}